{% extends './layout/base.html' %}

{% block title %}
    Tarefas
{% endblock %}

{% block content %}
<!-- Navigation bar -->
{% include 'includes/navbar.html' %}
<!-- end navigation bar -->

<div class="container">
  <h1>Lista de Tarefas</h1>
  <ul>
      {% for task in tasks %}
          <li>{{ task.title }}</li>
          <li>{{ task.desc }}</li>
          <li>{{ task.date_start }}</li>
          <li>{{ task.date_end }}</li>
          <!-- Adicione outros detalhes da tarefa que deseja exibir -->
          <hr>
      {% endfor %}
  </ul>
</div>
{% endblock %}

{% block script %}
<script>
    function onLoad(){
        document.getElementById("idNavTarefas").className = "nav-link text-white active fs-5";
        document.getElementById("idNavTarefas").href = "";
    }
    window.onload = onload;
</script>
{% endblock %}