{% extends './layout/base.html' %}

{% block title %}
<title>Tarefas</title>
{% endblock %}

{% block navbar %}
<!-- Navigation bar -->
{% include 'includes/navbar.html' %}
<!-- end navigation bar -->
{% endblock %}

{% block content %}
<!-- content -->

<div class="container mt-5">
    <h1 class="text-light">Pesquisar</h1>

    <!-- Barra de pesquisa -->
    <div class="input-group mb-3">
        <input id="searchInput" type="text" class="form-control" placeholder="...">
        <select id="searchField" class="form-select">
            <option value="title">Título</option>
            <option value="desc">Descrição</option>
            <option value="category">Categoria</option>
        </select>
        <button id="searchButton" class="btn btn-primary">Pesquisar</button>
    </div>

    <!-- Tabela -->
        <div class="container mt-5">
            <h1 class="text-light">Lista de Tarefas</h1>
            <table class="table table-light table-striped mt-5 text-center">
                <thead class="table-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Data de Inicio</th>
                    <th scope="col">Prazo final</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td title="{{ task.desc }}"><u>{{ task.title }}</u></td>
                            <td>{{ task.category }}</td>
                            <td>{{ task.date_start }}</td>
                            <td>{{ task.date_end }}</td>
                            <td>
                                {% if task.state %}
                                    Concluído
                                {% else %}
                                    Pendente
                                {% endif %}
                            </td>
                            <td  style="right: 0%;">
                                {% if task.state == False %}
                                <a href="{{ url_for('task_done', task_id=task.id) }}" class="flex btn btn-success" style="margin-right: 10px;">
                                    <i class="fa-solid fa-check" style="margin-right: 5px;"></i>Concluído
                                </a>
                                {%else%}
                                {%endif%}
                                <a href="{{ url_for('update_task', task_id=task.id) }}" class="flex btn btn-info" style="margin-right: 10px;">
                                    <i class="fa-solid fa-pen" style="margin-right: 5px;"></i>Editar
                                </a>
                                <a class="flex btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop_{{ task.id }}">
                                    <i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Remover
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="staticBackdrop_{{ task.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop_{{ task.id }}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="text-center pt-2 mb-2">
                                <h1 class="modal-title" id="staticBackdrop_{{ task.id }}Label"><i class="fa-solid fa-triangle-exclamation fa-xl" style="color: #ff0000;"></i></h1>
                              </div>
                              <div class="modal-body">
                                Tem a certeza que deseja apagar a tarefa Nº{{ loop.index }}?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a href="{{ url_for('remove_task', task_id=task.id) }}" class="btn btn-danger"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Apagar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </tbody>
              </table>
        </div>
</div>




<div id="tabela-tasks" class="bg-light mt-5"></div>
<div id="example-table"></div>
<!-- end content -->
{% endblock %}




{% block script %}
<script>

    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");
        var field = document.getElementById("searchField").value;
    
        for (i = 0; i < tr.length; i++) {
            td = tr[i].querySelectorAll("td")[getIndexByField(field)];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
    function getIndexByField(field) {
        switch (field) {
            case "title":
                return 0;
            case "desc":
                return 1;
            case "category":
                return 2;
            default:
                return 0;
        }
    }
    
    function onLoad() {

        document.getElementById("searchButton").addEventListener("click", filterTable);
        document.getElementById("idNavTarefas").className = "nav-link text-white active fs-5";
        document.getElementById("idNavTarefas").href = "";
    }
    window.onload = onload;
</script>

{% endblock %}