

{% block navbar %}

<nav class="navbar navbar-expand-lg bg-success bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand text-white fs-4"  href="#">Tasks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center w-100" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="idNavInicio" class="nav-link text-body-tertiary fs-5" aria-current="page" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a id="idNavTarefas" class="nav-link text-body-tertiary fs-5" href="{{ url_for('tasks') }}">Tarefas</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav d-flex flex-row me-1">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body-tertiary fs-5" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false">
                        <i class="fa-regular fa-user mx-2"></i>{{ current_user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}